@font-face {
    font-family: colibria;
    src: url(../font/calibrib.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: colibria;
}

/*header*/
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px 0;
}
.logo{
    width: 171px;
    height: 38px;
}
.logo span{
    color: #2B2B2B;
}
.logo h2{
    color: #C82021;
    font-size: 30px;
}
.div-nav{
    width: 50%;
}
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.items-nav a{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.btn-group{
    width: 171px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn-log{
    border: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: white;
    cursor: pointer;
}
.btn-sign{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #C82021;
    cursor: pointer;
}
/*main*/
/*section-banner*/
main{
    width: 100%;
}
.section-banners{
    background-image: url(../images/banner.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 520px;
}
.title-page{
    width: 90%;
    flex-grow: 1;
}
.title-page h1{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.expl{
    width: 80%;
    flex-grow: 1;
    text-align: center;
}
.expl h3{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
.short-hand{
    flex-grow: 1;
    width: 40%;
}
.short-hand ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}
.active{
    text-decoration: underline;
    font-weight: 900;
    text-decoration-color: #FFF;
    text-decoration-thickness: 4px;
}
.items-short-hand a{
    text-decoration: none;
    color:rgba(255, 255, 255, 1)
}
.fild-search{
    width: 45%;
    position: relative;
    flex-grow: 5;
}
.search{
    width: 96%;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    border: none;
    color: #888;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    padding-left: 24px;
    outline: none;
}
.btn-search{
    background-color: #C82021;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    border: none;
    color: white;
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
}
.btn-span{
    width: 100px;
    flex-grow: 1;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.btn-span span{
    display: inline-block;
    width: 24px;
    height: 6px;
    border-radius: 20px;
    opacity: 0.5;
    background: #FFF;
}
.btn-span .color-span{
    display: inline-block;
    background-color: #FFF;
    opacity: 1;
}
/*area*/
.area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text h2{
    color: #2B2B2B;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 64px;
    margin-bottom: 24px;
}
.text h3{
    color: #2B2B2B;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px ;
    margin-bottom: 40px;
}
.text p{
    width: 70%;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 24px 0;
}
.area-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}
.inf-area{
    flex-grow: 1;
    height: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: #F6F6F6;
    margin: 0px 10px;
}
.inf-area .number{
    color: #C82021;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.inf-area .comment{
    color: #2B2B2B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/*cards*/
.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 102px;
}
.cards h2{
    color: #2B2B2B;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.nav-item{
    width: 70%;
    margin-bottom: 50px;
}
.nav-item ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.items-link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items-link img{
    width: 30px;
    height: 30px;
}
.items-link span{
    color: #565656;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
.card-group{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}
.card{
    position: relative;
    margin: 48px 10px;
}
.favorite{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;  
    position: absolute;
    right: 16px;
    top: 16px;      
}
.text-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inf-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}
.price{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.icon-bed{
    width: 14px;
    height: 22px;
    flex-shrink: 0;
    margin-right: 4px;
}
.icon-bath{
    width: 14px;
    height: 22px;
    flex-shrink: 0;
    margin-right: 4px;
}
.icon-angle {
    width: 14px;
    height: 22px;
    flex-shrink: 0;
    margin-right: 4px;
}
.number-card{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 4px;    
}
.unit{
    color: #565656;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-right: 25px;
}
.addres{
    color: #565656;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
.exploring-more{
    border: none;
    background-color: #FFF;
    color: #2B2B2B;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;  
}
/*propert-area*/
.property-area{
    width: 80%;
    border-radius: 16px;
    background: #C82021;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.property-area h2{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 66px;
    margin-bottom: 24px;
}
.property-area p{
    width: 60%;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 40px;
}
.form-property{
    position: relative;
    width: 60%;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    margin-bottom: 80px;
}
.form-property input{
    height: 60px;
    width: 70%;
    position: absolute;
    left: 20px;
    flex-shrink: 0;
    border: none;
    outline: none;
    border-radius: 50px;
    color: #888;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;  
}
.form-property .btn-subscribe{
    border-radius: 50px;
    background: #2B2B2B;
    display: flex;
    width: 131px;
    height: 48px;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
    border: none;
    flex-shrink: 0;    
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal; 
    position: absolute;
    top: 6px;
    right: 6px;
}

/*search in top cities*/
.search-in-top-cities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 72px 0;
}
.search-in-top-cities h4{
    color: #2B2B2B;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.cities{
    width: 80%;
    text-align: center;
}
.cities ul{
    height: 400px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cities li{
    margin: 5px 0;
}
.cities a{
    text-decoration: none;
    color: #2B2B2B;
    font-size: 17px;
    font-style: normal;
    font-weight: 450;
    line-height: 29px; /* 170.588% */
    text-transform: capitalize;    
}

/*footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
}
.distinction{
    background-image: url(../images/Frame-239.png);
    background-repeat: repeat-x;
    height: 96px;
    width: 100%;
    margin-bottom: 56px;
}
.div-footer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 44px;
}
.div-footer p{
    color: #2B2B2B;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.div-footer ul{
    list-style: none;
}
.div-footer a{
    text-decoration: none;
    color: #2B2B2B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
    text-transform: capitalize;
}
